<!doctype html>
<meta charset="UTF-8">
<html>

<head>
</head>

<!-- Commentaire HTML -->

<body>
    <!-- Chaque page doit avoir un H1 qui est le titre principal de la page -->
    <h1>Cours n°2 de JS 2021-2022</h1>

    <section id="news">
        <h2 id="titleNews">News</h2>
        <article id="article-1">
            <h3 class="title">News 1</h3>
            <p>Desc de la news 1</p>
            <button>View detail</button>
        </article>

        <article id="article-2">
            <h3 class="title">News 2</h3>
            <p> la description n°2</p>
            <button>View detail</button>
        </article>

        <article id="article-3">
            <h3 class="title">News 3</h3>
            <p>une autre description pour la news 3</p>
            <button>View detail</button>
        </article>
    </section>

    <button id="btnClic" class="btn" style="margin-top: 20px;">Mon super bouton</button>

    <form id="addNewsForm">
        Nom de la news : <input name="titleToAdd" type="text" />

        <input type="submit" name="addNewsBtn" />
    </form>
</body>

<!-- Le code JS doit se trouver après la clôture de la balise body. -->
<script src="../public/js/const.js"></script>
<script src="../public/js/log.js"></script>
<script src="../public/js/math.js"></script>
<script src="../public/js/html.js"></script>
<script src="../public/js/article.js"></script>
<script src="../public/js/main.js"></script>
</script>

</html>