<!doctype html>
<meta charset="UTF-8">
<html>
<head>
</head>

<body>
    <!--code html-->
    <h1>My blog</h1>

    <section id="news">
        <h2 id="titleNews">News</h2>
        <article class="test">
            <h3 class="title">News 1</h3>
        </article>

        <article class="test">
            <h3 class="title">News 2</h3>
        </article>

        <article>
            <h3 class="title">News 3</h3>
        </article>
    </section>

    <form id="addNewsForm">
        Title : <input name="titleToAdd" type="text" />

        <input type="submit" name="addNewsBtn" value="Add news" />
    </form>
</body>

<!--src code JS-->
<!--constantes en 1er-->
<script type="text/javascript" src="../public/js/const.js"></script>
<!--le reste au milieu-->
<script type="text/javascript" src="../public/js/log.js"></script>
<!--main en dernier-->
<script type="text/javascript" src="../public/js/main.js"></script>

</html>